* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */

body {
    font-family: sans-serif
}

/* utils */

.my-container {
    max-width: 1200px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.w-50 {
    width: 50%;
    height: auto;

    padding: 15px;
}